@using WebApp.Helpers;
<script src="~/Scripts/Views/vCustomers.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.CtrlTable(viewName: "vCustomers", id: "tblCustomers", title: "Customer List",
    columnsTitle: "Id,Name,LastName,Age", ColumnsDataName: "Id,Name,LastName,Age", onSelectFunction: "BindFields")


<div class="card border-secondary mb-6" style="margin-top: 50px;">
    <div class="card-header">Customer Edition</div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <form id="frmEdition">
                        @Html.CtrlInput(id: "txtId", type: "text", label: "Id", columnDataName:"Id")
                        @Html.CtrlInput(id: "txtName", type: "text", label: "Name", columnDataName: "Name")
                        @Html.CtrlInput(id: "txtLastName", type: "text", label: "LastName", columnDataName: "LastName")
                        @Html.CtrlInput(id: "txtAge", type: "number", label: "Age", columnDataName: "Age")
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>